:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color:#FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color:#F5F4FA;
    --primary-font:'Roboto', Arial, Helvetica, sans-serif;
    --accent-font: 'Raleway', sans-serif;
}

/*common styles*/

body{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link{
    font-family: inherit;
    text-decoration: none;
    color:inherit;

}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.list-item {
    list-style: none;
}

.botton{
    cursor: pointer;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px ;
}

/*Webstudio page*/

/*header*/

.header{
    padding-top: 25px;
    padding-bottom: 25px ;
}

.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
}

.list-item:not(:last-child) {
    margin-right: 50px;
}

.logo{
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    text-decoration: none;
    color: inherit;
    margin-right: 93px;
    
}

.nav-link{
    color: var(--primary-text-color);
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em
}

.footer-contacts{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.current{
    color:var(--accent-color);

}

.contacts-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    list-style:none;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}

/*Webstudio hero*/

.studio-hero{
    background-color: var(--secondary-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;

}

.hero-studio-title{
    color:var(--light-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 30px;
    
}

.hero-button{
    color: var(--light-text-color);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    min-width: 200px;
     


        
}

 /* Benefits */

 .benefits-list{
    display: flex;
    flex-wrap: no-wrap;
    gap: 30px;
 }

 .benefits-item{
    flex-basis: calc((100% - 90px) / 4);
 }

 .benefits-title{
    line-height: 1.14;
    margin-bottom: 10px;
 }


 .benefits-text {
    line-height: 1.71;
    color: var(--secondary-text-color);
 }


.none{
    display: none;
}

/* Work */

.work{
    padding-top:0
}

.section-title{
    font-size: 36px;
    line-height: 1.16;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

}

.work-list{
    display: flex;
    flex-wrap: no-wrap;
    gap: 30px;
}

.work-item {
    flex-basis: calc((100% - 60px) / 3);
}

/*Team*/

.team{
    background-color: var(--accent-bg-color);

}

.team-list{
    display: flex;
    flex-wrap: no-wrap;
    gap: 30px;
}

.team-item{
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);

}

.team-image{
    margin-bottom: 30px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.team-text{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}



/*Portfolio hero*/

.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    border-color: var(--primary-bg-color);

}
.button:hover {
    background-color: var(--accent-color);
    color: var(--light-text-color);

}

.accent{
    color: var(--accent-color)
}
.hero-subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.hero-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}

.accent-button{
   background-color: var(--accent-color);
   color: var(--light-text-color);
   border: 1px solid var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

/*footer*/

.footer{
   background-color: var(--secondary-bg-color)

}

.footer > .logo{
    color: var(--light-text-color);

}

/* .footer >.logo:hover*{
    color: var(--accent-color);}*/


.map{
   font-weight: 400;
   line-height: 1.71;
   color: var(--light-text-color);
   text-decoration: none;
   
}
.address{
    font-style: normal;
}




